.resultPage {
  width: 400px;
  height: 456px;
  border-radius: 12px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.resultPage .successfully {
  padding-top: 39.5px;
}

.resultPage .successfully img {
  width: 35px;
  height: 35px;
}

.resultPage .successfully h1 {
  opacity: .8;
  font-size: 18px;
  font-weight: 500;
}

.resultPage .image {
  margin: 25.34px 0;
}

.resultPage .image img {
  width: 338px;
  height: 224.4px;
  border-radius: 12px;
}

.resultPage .link {
  width: 338px;
  height: 34px;
  margin: auto;
  background-color: #F6F8FB;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultPage .link input {
  background-color: #F6F8FB;
  width: 240px;
  height: 12px;
  border: none;
  outline: none;
  font-size: 12px;
  opacity: .8;
  margin-left: 7.12px;
}

.resultPage .link button {
  width: 74px;
  height: 30px;
  border-radius: 8px;
  background-color: #2e80ed;
  border: none;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.resultPage .link button:active {
  transform: scale(1.002);
}

.resultPage .link button label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resultPage .link button label img {
  width: 15px;
  margin-right: 5px;
}

.resultPage .back {
  position: absolute;
  top: 4%;
  left: 4%;
  cursor: pointer;
  transition: .3s;
}

.resultPage .back:hover {
  transform: scale(1.1);
}
