.insertImage {
  width: 412px;
  height: 469px;
  border-radius: 12px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); }
  .insertImage h1:first-child {
    font-size: 18px;
    text-align: center;
    padding-top: 36px;
    opacity: .8; }
  .insertImage p {
    font-size: 10px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 29.6px;
    font-weight: 500;
    opacity: .8; }
  .insertImage .dropImage {
    width: 338px;
    height: 218px;
    border: 2px dashed #97BEF4;
    border-radius: 12px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .insertImage .dropImage input {
      display: none; }
    .insertImage .dropImage img {
      width: 114px;
      height: 88px;
      margin-left: 50%;
      transform: translate(-50%); }
    .insertImage .dropImage h1 {
      font-size: 12px;
      margin-top: 37px;
      opacity: .6;
      cursor: default; }
  .insertImage h3 {
    font-size: 12px;
    opacity: .8;
    text-align: center;
    margin: 18px 0; }
  .insertImage .chooseFile {
    text-align: center; }
    .insertImage .chooseFile input {
      display: none; }
    .insertImage .chooseFile label {
      width: 101px;
      height: 32px;
      font-size: 12px;
      color: #fff;
      background-color: #2E80ED;
      padding: 8px 16px;
      border-radius: 12px;
      font-weight: 500;
      cursor: pointer; }

.bar {
  padding: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
  margin: auto;
  width: 412px; }

.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a; }
  .error span {
    font-weight: bold; }
  .error a {
    display: block;
    text-decoration: none; }

.hide {
  display: none; }

.uploading {
  width: 400px;
  height: 143px;
  border-radius: 12px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }
  .uploading .loader {
    font-size: 40px;
    opacity: .8;
    font-weight: 700;
    color: #000;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; }
    .uploading .loader:after {
      content: '';
      margin-top: .5rem;
      height: 6px;
      border-radius: 5px;
      width: 0%;
      display: block;
      background: #FF3D00;
      animation: 5s lineGrow linear infinite; }

@keyframes lineGrow {
  to {
    width: 100%; } }

.resultPage {
  width: 400px;
  height: 456px;
  border-radius: 12px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; }
  .resultPage .successfully {
    padding-top: 39.5px; }
    .resultPage .successfully img {
      width: 35px;
      height: 35px; }
    .resultPage .successfully h1 {
      opacity: .8;
      font-size: 18px;
      font-weight: 500; }
  .resultPage .image {
    margin: 25.34px 0; }
    .resultPage .image img {
      width: 338px;
      height: 224.4px;
      border-radius: 12px; }
  .resultPage .link {
    width: 338px;
    height: 34px;
    margin: auto;
    background-color: #F6F8FB;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .resultPage .link input {
      background-color: #F6F8FB;
      width: 240px;
      height: 12px;
      border: none;
      outline: none;
      font-size: 12px;
      opacity: .8;
      margin-left: 7.12px; }
    .resultPage .link button {
      width: 74px;
      height: 30px;
      border-radius: 8px;
      background-color: #2e80ed;
      border: none;
      font-size: 10px;
      font-weight: 600;
      color: #fff;
      cursor: pointer; }
      .resultPage .link button:active {
        transform: scale(1.002); }
      .resultPage .link button label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .resultPage .link button label img {
          width: 15px;
          margin-right: 5px; }
  .resultPage .back {
    position: absolute;
    top: 4%;
    left: 4%;
    cursor: pointer;
    transition: .3s; }
    .resultPage .back:hover {
      transform: scale(1.1); }
